.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem 2rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #eee;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}



.search-bar input {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #f3f4f6;
  color: rgb(52, 52, 162);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add-btn {
  
  color: white;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(52, 52, 162);
}

.notification-icon {
  font-size: 1.2rem;
  color: rgb(52, 52, 162);
  cursor: pointer;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar {
  padding-top: 5%;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}


svg.search-icon {
  position: relative;
  top: 4px;
  right: 2em;
}
#logo{
  display: none;
}
@media screen and (max-width: 768px) {
  #logo{
    display:block;
  }
 .header{
  display: flex;
  margin-left: 1%;

 }
}